<div class="flex">
  <% images.forEach(function(image){ %>
    <div>
        <a class="lbox" href="<%= image %>">
            <img src="<%= image %>" alt="Enclosed Toot image">
        </a>
    </div>
  <% }); %>
</div>
